//uniq-you theme colors
$goldenrod: #f4af2f;
$darkslategray: #1c1b1b;
$darkslategraylight: #3e3d3d;
$dimgray: #6a6a6a;
$darkgray: #afafaf;
$gray: gray;
$white: #ffffff;
$redflame: #f94c43;
$blackOpacityGradient: linear-gradient(
  0deg,
  rgb(0, 0, 0, 0.9) 0%,
  rgb(0, 0, 0, 0.7) 20%,
  rgb(0, 0, 0, 0.5) 50%,
  rgb(0, 0, 0, 0.2) 100%
);
