.header {
  display: flex;
  background-color: var(--header-background);
  justify-content: space-between;
  padding: 15px 30px;
  position: relative;
  border: 1px solid var(--header-border-color);

  .headerLogo {
    position: absolute;
    width: 80px;
    top: 10px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transition: 1s ease;
    z-index: 1;

    &:hover {
      transform: scale(1.1);
    }
  }

  .headerRightNavBar {
    display: flex;
    justify-content: space-between;
    width: 300px;

    .headerButtonHistory {
      margin-right: 10px;
    }

    .headerButtonAuth {
      cursor: pointer;
    }
  }
}

.drawerCategoryButton {
  min-width: 100%;
}